.purple-color{
color:#8845f4;
}
body{
font-family:sans-serif;
color:#777777
line-height:26px;
}
.half-width{
    width: 50%;
    float: left;
}
.side-img{
width:50%;
float:right
padding-left:50%;
padding:20px
}
.primary-btn{
    color:white;
    background-color: #8845f4;
    padding: 10px 30px 10px 30px;
    border-radius:20px;
    text-decoration:none;
}
h1{
font-size:1.5em;
}
h3{
font-size:1em;
}
.container{
padding-left:5%;
display:inline-block;
}
.experiences{
padding:30px;
margin:30px;
back-ground-color:rgb(238,251,255);
border-radius-20px;
}
.experience-item{
padding:10px;
border-left:1px solid rgba(137,130,247,0.2);
}









